@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li button::before {
  color: #292828;
}
/* Change the color of the active dot */
.slick-dots li.slick-active button:before {
  color: #f97316; /* Set the color for the active dot */
}
/* Change color of the previous arrow */
.slick-prev:before {
  color: #f97316; /* Set your desired color */
}

/* Change color of the next arrow */
.slick-next:before {
  color: #f97316; /* Set your desired color */
}
